/.env
/vendor/
/storage/cache/*
/storage/logs/*
/storage/templates/layouts/*
/storage/tmp/*
!/storage/cache/.gitkeep
!/storage/logs/.gitkeep
!/storage/templates/layouts/.gitkeep
/.phpunit.cache/
/.phpstan.cache/
/.idea/
/.vscode/
.DS_Store
